[Unit]
Description=Create ics from alpha_self.md when it changes, and upload it to to evo server.

[Service]
Type=simple
ExecStart=/home/hegza/local/bin/alpha-to-evo.sh

[Install]
WantedBy=multi-user.target
